.Exp-container {
  justify-content: start;
  margin-left: 70px;
  margin-top: 100px;
}

.job-card {
  background-color: none;
  border-radius: 5px;
  color: #a0a0c5;
  padding: 20px;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.job-card:hover {
  background-color: #36243b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.job-duration {
  font-size: 12px;
  color: #a0a0c5;
  margin-bottom: 5px;
}

.job-title {
  font-size: 18px;
  font-weight: 600;
  color: #f8f1ff;
  margin-bottom: 10px;
}

.job-description {
  font-size: 16px;
  line-height: 1.6;
  color: #a0a0c5;
  margin-bottom: 15px;
}

.skills {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.skill {
  background-color: #572e64;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: #f8f1ff;
  box-shadow: 0 2px 5px rgba(7, 1, 6, 0.2);
}

#experience {
  padding: 10px;
  margin-right: 10px;
}

#experience p {
  text-align: justify;
}

@media (max-width: 600px) {
  .Exp-container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-left: 0px;
  }
}
